<div class="members-container">
  <% @members.each do |mem| %>
    <div class="member">
      <%= mem.username %>: <%= mem.points %> points
    </div>
  <% end %>
</div>

<%= will_paginate @members %>

<% if @errors %>
  <% @errors.each do |error| %>
    <p class="error"><%= error %></p>
  <% end %>
<% end %>

<%= form_for @member, url: members_path do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :rank %>
  <%= f.text_field :rank %>

  <%= f.label :points %>
  <%= f.text_field :points %>

  <%= f.submit %>
<% end %>
